[submodule "themes/hugo-paper"]
	path = themes/hugo-paper
	url = https://github.com/nanxiaobei/hugo-paper.git
[submodule "themes/journal"]
	path = themes/journal
	url = https://github.com/dashdashzako/hugo-journal.git
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/journa"]
	path = themes/journa
	url = https://github.com/dashdashzako/hugo-journal.git
[submodule "themes/kiss"]
	path = themes/kiss
	url = https://github.com/ribice/kiss.git
